<header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
    

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->

          @if(!(auth.isAuthenticated | async)){
            <li>
              <a class="px-2" href="#"  (click)="openModal()">ورود / ثبت نام</a>
            </li>

          }@else {
             <li>
            <a class="px-2" routerLink="/video/manage">مدیریت</a>
          </li>
          <li>
            <a class="px-2" routerLink="/video/manage">اپلود</a>
          </li>
          <li>
            <a class="px-2" href="about.html">درباره ما</a>
          </li>
          <li>
            <a class="px-2" href="#"  (click)="logOut($event)" >خروج</a>
          </li>
          }
         
        </ul>
      
      </div>

      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" href="index.html">GAMEBIN</a>
    </nav>
  </header>
