<form [formGroup]="form" (submit)="onSubmit()">
  <!-- Name -->
  <div class="mb-3">

    <app-input [label]="'نام'" [type]="'text'" [placeholder]="'نام'" [control]="'name'"
      [formGroup]="form"></app-input>

  </div>
  <!-- Email -->
  <div class="mb-3">
    <app-input [label]="'ایمیل'" [type]="'text'" [placeholder]="'ایمیل'" [control]="'email'"
      [formGroup]="form"></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <app-input [label]="'سن'" [type]="'number'" [placeholder]="'سن'" [control]="'age'"
      [formGroup]="form"></app-input>
  </div>
  <!-- Password -->
  <div>
    <app-input [label]="'رمز عبور'" [type]="'password'" [placeholder]="'رمز عبور'"
      [control]="'password'" [formGroup]="form"></app-input>
  </div>
  <div>
  <!-- Confirm Password -->
  <app-input [label]="'تکرار رمز عبور'" [type]="'password'" [placeholder]="'تکرار رمز عبور'"
    [control]="'confirmPassword'" [formGroup]="form"></app-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <app-input [label]="'تلفن'" [type]="'number'" [placeholder]="'تلفن'" [control]="'phoneNumber'"
      [formGroup]="form"></app-input>
  </div>
  <button type="submit" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500">
    ثبت نام
  </button>
</form>