<form [formGroup]="form"  (submit)="onSubmit()">
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2">نام</label>
      <input type="text" formControlName="name"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder=" نام" />

        @if(form.controls.name.invalid && (form.controls.name.touched || form.controls.name.dirty)) {

            @if(form.controls.name.errors?.['required']) {
                <p  class="text-red-500" >نام الزامی است</p>
            }
            @if(form.controls.name.errors?.['minlength']) {
                <p  class="text-red-500" >نام باید حداقل {{form.controls.name.errors?.['minlength'].requiredLength}} کاراکتر باشد</p>
            }
            @if(form.controls.name.errors?.['maxlength']) {
                <p  class="text-red-500" >نام باید حداکثر {{form.controls.name.errors?.['maxlength'].requiredLength}} کاراکتر باشد</p>
            }
       
        }

    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2">ایمیل</label>
      <input type="email"
      formControlName="email"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition 
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder=" ایمیل" />
    </div>
    <!-- Age -->
    <div class="mb-3">
      <label class="inline-block mb-2">سن</label>
      <input type="number"
      formControlName="age"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" />
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">رمز عبور </label>
      <input type="password"
      formControlName="password"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="رمز عبور " />
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">تکرار رمز عبور</label>
      <input type="password"
      formControlName="confirmPassword"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="تکرار رمز عبور " />
    </div>
    <!-- Phone Number -->
    <div class="mb-3">
      <label class="inline-block mb-2">تلفن </label>
      <input type="text"
      formControlName="phoneNumber"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="شماره تلفن را وارد کنید" />
    </div>
    <button type="submit"
      class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500">
      ثبت نام
    </button>
  </form>
