<form [formGroup]="form" (submit)="onSubmit()">
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2">ایمیل</label>
      <input type="email"
      formControlName="email"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent
          focus:border-indigo-400"
        placeholder=" ایمیل" />
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">رمز عبور</label>
      <input type="password"
      formControlName="password"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="رمز عبور" />
    </div>
    <button type="submit"
      class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500">
      ورود
    </button>
  </form>
